asgiref==3.11.1
charset-normalizer==3.4.7
cssselect2==0.9.0
Django==6.0.5
et_xmlfile==2.0.0
lxml==6.1.1
openpyxl==3.1.5
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-docx==1.2.0
reportlab==4.5.1
sqlparse==0.5.5
svglib==2.0.2
tinycss2==1.5.1
typing_extensions==4.15.0
tzdata==2026.2
webencodings==0.5.1
